---
import { getCollection } from "astro:content";
import Project from "../../components/Project.astro";
import Layout from "../../layouts/Layout.astro";
const allProjects = await getCollection("projects");
const allProjectsSorted = allProjects
  .sort((x: any, y: any) => {
    return x.data.added - y.data.added;
  })

const projects = allProjectsSorted.map((project) => ({
  title: project.data.title,
  link: project.data.link,
  github: project.data.github,
  body: project.body,
  img: project.data.imgs[0],
  url: project.slug,
}));
---

<Layout title="Nasze Projekty">
  <div class="games wrapper">
    {
      projects.map((item) => {
        return (
          <Project
            title={item.title}
            link={item.link}
            github={item.github}
            body={item.body}
            img={item.img}
            url={item.url}
          />
        );
      })
    }
  </div>
</Layout>

<style>
  .games {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
</style>
