---
const { img, name, nickname, role, desc } = Astro.props;
let roleParsed = "";
role.map((rola: any) => {
  roleParsed += rola + " • ";
});
---

<div class="person">
  <div class="person__img">
    <img src={"/zespol/" + img} alt={name} title={name} />
  </div>
  <div class="person__header">
    <h2>{name}</h2>
    <small>
      <span>{"@" + nickname}</span>
      {roleParsed.slice(0, -2)}
    </small>
  </div>
  <p title={desc}>{desc}</p>
</div>

<style>
  .person {
    display: grid;
    gap: 1rem;
    align-items: flex-start;
    grid-template-columns: 4.125rem 1fr;
    grid-template-areas: "img header" "text text";
  }

  .person__img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 0.25rem;
    overflow: hidden;
    border: 2px solid var(--clr-text);
    grid-area: img;
  }

  .person__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .person__header small {
    display: block;
    margin-top: 0.5rem;
    color: var(--clr-accent);
    font-size: 0.75rem;
  }

  .person__header span {
    margin-right: 1rem;
    color: var(--clr-text-300);
    display: block;
  }

  .person p {
    grid-area: text;
    margin-top: 0;
  }

  @media (min-width: 60rem) {
    .person {
      grid-template-columns: 9rem 1fr;
      grid-template-areas: "img header" "img text";
    }

    .person p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
</style>
